@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.card{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4; 
}

.container{
  position: relative;
  text-align:center;
  max-width: 430px;
  width: 200%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.container form{
  margin-top: 30px;
}
.container form .input-box{
  height: 52px;
  margin: 18px 0;
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.input-box.button .button:hover{
  background: #4070f4;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 .link{
  color: #4070f4;
  text-decoration: none;
}
form .text h3 .link:hover{
  text-decoration: underline;
}

// div .productsList{
//   display: flex;
//   padding: 34px;
//   gap: 30px 30px;
//   object-fit: cover;

// }  

// div .productsList section {    
//   background-color: #fbede5;
//   width: 250px;
//   text-align: center;
//   font-size: 25px;
// }


// .product {
//   background-color: #f5f5f5;
//   padding: 20px;
//   border-radius: 8px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 
// }

// .product .name {
//   font-size: 18px;
//   font-weight: bold;
//   margin-bottom: 10px;
// }

// .product img {
//   width: 100%;
//   height: 200px;
//   object-fit: cover;
//   margin-bottom: 10px;
// }

// .product .category {
//   font-size: 14px;
//   margin-bottom: 5px;
// }

// .product .price {
//   font-size: 16px;
//   font-weight: bold;
// }

// .product .description {
//   font-size: 14px;
//   margin-top: 10px;
// }

// .product .location {
//   font-size: 12px;
//   color: #777777;
// }


.productsList {
  background-color: #4070f4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  text-align: center;
  padding: 100px;
}

.product {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product .name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product .category {
  font-size: 14px;
  margin-bottom: 5px;
}

.product .price {
  font-size: 16px;
  font-weight: bold;
}

.product .description {
  font-size: 14px;
  margin-top: 10px;
}

.product .location {
  font-size: 12px;
  color: #777777;
}